*.class
*.zip
*.bak
src/.metadata/
bin/
.idea*/
target/
logs/
*.iml
*.iml
src/com.fcloud.connectmanager/build.xml
.fuse*
src/out/
*.pyc

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
